<amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
        Employee List
    </amexio-header>
    <amexio-body>
        <amexio-datagrid [title]="'Employee List'" [page-size]="10" [http-url]="'https://restapi.amexio.org:8991/rest-sample-app/api/emp/'" [http-method]="'get'" [enable-column-fiter]="true">
            <amexio-data-table-column [text]="'First Name'" [data-index]="'firstName'" [data-type]="'string'">
            </amexio-data-table-column>
            <amexio-data-table-column [text]="'Last Name'" [data-index]="'lastName'" [data-type]="'string'">
            </amexio-data-table-column>
            <amexio-data-table-column [text]="'Phone'" [data-index]="'phone'" [data-type]="'string'">
            </amexio-data-table-column>
            <amexio-data-table-column [text]="'email'" [data-index]="'email'" [data-type]="'string'">
            </amexio-data-table-column>
        </amexio-datagrid>

    </amexio-body>

    <amexio-action>

    </amexio-action>
</amexio-card>